@page "/"
@inherits BaseIndex

<h1>Hello, world!</h1>

<ReactSharpBlazor Element="@_reactElement"></ReactSharpBlazor>


@code
{
    ReactElement _reactElement = new ReactElement($@"
<div>
    <div>ReactSharp counter: </div>
    <Counter />
</div>
");
}